.post {
    height: 150px;
}
.post .title {
    height: 45px;
    font-size: 30px;
}

.post .created {
    margin-left: 5px;
    font-size: 13px;
}
.post .text {

}

.post.view {
    min-height: 800px;
}

.panel-head {
    border-bottom: 1px solid #fff;   
}